{% extends "layout.html" %}

{% load static %}

{% block title %}
    Printers
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/printers.css' %}">
{% endblock %}

{% block content%}

    <div class="div-main-container">
        <h1>Status das Impressoras</h1>

        <div class="div-printers-grid">
            {% for printer in printers %}
                <div class="div-printer">
                    <h2>{{ printer.name }}</h2>
    
                    <img class="img-printer-icon" src="{% static 'img/icon-printer.png' %}" alt="printer-png">
                    
                    {% if printer.status == 1%}
                        <div class="div-printer-status div-printer-on">
                            <img src="{% static 'img/icon-available.png' %}" alt="">
                            <p>Disponível</p>
                        </div>
                    {% elif printer.status == 0 %}
                        <div class="div-printer-status div-printer-off">
                            <img src="{% static 'img/icon-off.png' %}" alt="">
                            <p>Desligada</p>
                        </div>
                    {% elif printer.status == 2 %}
                        <div class="div-printer-status div-printer-operating">
                            <img src="{% static 'img/icon-operating.png' %}" alt="">
                            <p>Operando</p>
                        </div>
                    {% endif %}
                    <div class="div-printer-actions">
                        <button>
                            <img src="{% static 'img/icon-reload.png' %}" alt="Reload">
                        </button>

                        <button>
                            <img src="{% static 'img/icon-stop.png' %}" alt="Reload">
                        </button>

                        <button>
                            <img src="{% static 'img/icon-off.png' %}" alt="Reload">
                        </button>
                    </div>
                </div>
            {% endfor%}
        </div>
    </div>
{% endblock %}