{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        {% block title %}
            MetaBee
        {% endblock %}    
    </title>

    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    
    {% block extrahead %}
    {% endblock %}
</head>

<body>
    {% block header %}
        <header>
            <a href="{% url 'index' %}">
                <img src="{% static 'img/header-home.png' %}" alt="Home">
            </a>

            <a href="{% url 'door-lock' %}">
                <img src="{% static 'img/header-door.png' %}" alt="Door Lock">
            </a>

            <a href="{% url 'printers' %}">
                <img src="{% static 'img/header-printer.png' %}" alt="Printer">
            </a>
        </header>
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>