{% extends "layout.html" %}

{% load static %}

{% block title %}
    Printers
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/printers.css' %}">
{% endblock %}

{% block content%}
    <h1>METABEE</h1>

    <div class="div-main-container">
        {% for printer in printers %}
            <div class="div-printer">
                <h2>{{ printer.name }}</h2>

                {% if not printer.status %}
                    <img class="img-printer-icon img-printer-off" src="{% static 'img/icon-printer.png' %}" alt="printer-png">

                    <button class="button-printer-toggle">
                        <img src="{% static 'img/icon-toggle-off.png' %}" alt="toggle off">
                    </button>
                {% elif printer.status %}
                    <img class="img-printer-icon img-printer-on" src="{% static 'img/icon-printer.png' %}" alt="printer-png">

                    <button class="button-printer-toggle">
                        <img src="{% static 'img/icon-toggle-on.png' %}" alt="toggle on">
                    </button>
                {% endif %}
            </div>
        {% endfor%}
    </div>
{% endblock %}