body {
    background-color: rgb(0, 0, 24);
    color: white;
    border: 2px solid rgb(255, 255, 255);
    height: 95vh;
    font-family: Arial;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div {
    border: 2px solid white;
    width: 80%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}