body {
    background-color: rgb(228, 228, 228);
    color: rgb(0, 0, 0);
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    padding-top: 60px;
}

.div-main-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-height: 75vh;

    padding: 20px;

    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.div-printers-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    overflow-y: auto;
    padding: 0 20px;
}

.div-printer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 15px;
}

.img-printer-icon {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
    margin-bottom: 10px;
}

.div-printer-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px 10px 0;
}

.div-printer-on {
    background-color: rgb(87, 206, 117);
}

.div-printer-off {
    background-color: rgb(206, 87, 87);
}

.div-printer-operating {
    background-color: rgb(230, 195, 98);
}

.div-printer-status p {
    margin: 0;
    color: white;
}

.div-printer-status img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 5px;
    filter: invert();
}

.div-printer-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100;
}

.div-printer-actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: rgb(65, 65, 65);
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.div-printer-actions button:hover {
    background-color: rgb(36, 36, 36);
}

.div-printer-actions button img {
    width: 20px;
    height: 20px;
    filter: invert();
}
