body {
    background-color: rgb(228, 228, 228);
    color: rgb(0, 0, 0);
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-main-container {
    background-color: white;
    border-radius: 5px;
    width: 95%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    padding: 16px;
    overflow-y: auto;
}

.div-printer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 16px;
}

.img-printer-icon {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
    margin-bottom: 10px;
}

.div-printer-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.div-printer-on {
    background-color: rgb(87, 206, 117);
}

.div-printer-off {
    background-color: rgb(206, 87, 87);
}

.div-printer-operating {
    background-color: rgb(230, 195, 98);
}

.div-printer-status p {
    margin: 0;
    color: white;
}

.div-printer-status img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 5px;
    filter: invert();
}
